<form id="formspree" action="https://formsubmit.io/send/352c79ec-15bb-48a2-b978-47933403331d" method="POST">
  <div id="formerrors"></div>
  <textarea
    required
    placeholder="Get in touch"
    name="comment"
    id="comment"
    rows="5"></textarea>
    
  <div class="form-group">
    <input
      required
      placeholder="Name"
      name="name"
      type="text"
      id="name">
    <input
      required
      placeholder="Email Address"
      name="email"
      type="email"
      id="email">
    
    <input name="_formsubmit_id" type="text" style="display:none">
    <input type="submit" value="Send →">
    
  </div>
</form>
