<form id="formspree" action="https://formspree.io/alberto.nodale@gmail.com" method="POST">
  <div id="formerrors"></div>
  <textarea
    required
    placeholder="Get in touch"
    name="comment"
    id="comment"
    rows="5"></textarea>
    
  <div class="form-group">
    <input
      required
      placeholder="Name"
      name="name"
      type="text"
      id="name">
    <input
      required
      placeholder="Email Address"
      name="_replyto"
      type="email"
      id="email">
    
    <input name="_gotcha" type="text" style="display:none">
    <input type="submit" value="Send →">
    
  </div>
</form>
