<!-- Begin Facebook tags -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:description" content="{{ page.opengraph.description }}" />
<meta property="og:image" content="{{ site.url }}/images/{{ page.opengraph.thumb }}" />
<meta property="og:type" content="website" />
<!-- End Facebook tags -->

<!-- Begin Twitter tags -->
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:url" content="{{ site.url }}" />
<meta name="twitter:card" content="{{ page.opengraph.description }}" />
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.opengraph.thumb }}" />
<!-- End Twitter tags -->
